
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chart js Test</h2>


<div>
    <canvas id="myChart"></canvas>
</div>


@section script{

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        $.ajax({
            type: 'POST', //post method
            url: '@Url.Content("~/Deneme/ChartListele")', //ajaxformexample url
            dataType: "json",
            success: function (result, textStatus, jqXHR) {
                chart.data = result;
                chart.update();
            }
        });
    </script>
}
