

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" rel="stylesheet" />

<style>
    #cariler_wrapper .dt-buttons {
        float: right;
    }
</style>

<button class="btn btn-success mb-3 float-right mr-1"  style="color:black; font-size:13px;" type="button" data-target="#modal1" data-toggle="modal"><i class="fa-solid fa-user-plus"></i></button>

<table class="table table-bordered display" id="cariler" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>AD SOYAD</th>
            <th>MAIL</th>
            <th>KAYIT KODU</th>
            <th>KAYIT TARIHI</th>
            <th>VERGİ NO</th>
            <th>AKTIF</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>

    </thead>
</table>


<div class="modal fade" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cari Ekle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="adsoyad">Ad Soyad</label>
                            <input type="text" class="form-control" id="ADSOYAD" name="ADSOYAD" placeholder="Ad Soyad">
                        </div>
                        <div class="form-group">
                            <label for="mail">Mail</label>
                            <input type="email" class="form-control" id="MAIL" name="MAIL" placeholder="Mail">
                        </div>
                        <div class="form-group">
                            <label for="vergino">Vergi No</label>
                            <input type="number" class="form-control" id="VERGINO" name="VERGINO" placeholder="Vergi No">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="ekle">Cari Ekle</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cari Sil</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Cariyi silmek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="sil">Sil</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cari Bilgileri</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Guncelle", "Cariler", FormMethod.Post))
                {
                    <form class="form-group">
                        <div class="card-body">
                            <input  type="hidden" name="ID" id="ID"/>
                            <div class="form-group">
                                <label for="adsoyad">Ad Soyad</label>
                                <input type="text" name="ADSOYAD" id="ADSOYADG" class="form-control" placeholder="Ad Soyad"/>
                            </div>
                            <div class="form-group">
                                <label for="mail">Mail</label>
                                <input type="email" name="MAIL" id="MAILG" class="form-control" placeholder="Mail" />
                            </div>
                            <div class="form-group">
                                <label for="vergino">Vergi No</label>
                               <input type="number" name="VERGINO" id="VERGINOG" class="form-control" placeholder="Vergi No" />
                            </div>
                        </div>
                    </form>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="guncelle">Cari Güncelle</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Kapat</button>
            </div>
        </div>
    </div>
</div>


@section script{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.jqueryui.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script>
        new DataTable('#cariler', {
            ajax: {
                url: "@Url.Content("~/Cariler/Listele")",
                type: 'POST',
                dataSrc: '',
                //data: function (d) {
                //    d.ID = $("#ID").val();
                //}
            },
            columns: [
                { data: 'ID' },
                { data: 'ADSOYAD' },
                { data: 'MAIL' },
                { data: 'KAYITKODU' },
                {
                    data: 'KAYITTARIHI',
                    render: DataTable.render.datetime('DD-MM-YYYY')
                    
                },
                { data: 'VERGINO' },
                {
                    data: 'AKTIF',
                    render: function (data) {
                        if (data == 1) {
                            return "AKTİF";
                        }
                        else {
                            return "PASİF";
                        }
                    }

                },
                {
                    data: 'KAYITKODU',
                    bSortable: false,
                    render: function (data) {
                        return '<button id="modalSil" class="btn btn-danger" data-target="#modal2" data-toggle="modal" data-kayitkodu="'+data+'"><i class="fa-solid fa-trash"></i></button>'
                    }
                },
                {
                    data: 'ID',
                    bSortable: false,
                    render: function (data) {
                        return '<button id="modalGuncelle" class="btn btn-warning" data-target="#modal3" data-toggle="modal" onclick="CariGetir('+data+')"><i class="fa-solid fa-pencil"></i></button>'
                    }
                },

            ],
            aLengthMenu: [
                [10, 25, -1],
                [10, 25, "Tümü"]
            ],
            iDisplayLength: 10,
            bSortCellsTop: true,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.5/i18n/tr.json"
            },
            dom: '<"top"Bl>rt<"bottom"fip><"clear">',
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fa-solid fa-copy"></i>',
                    title: 'Cariler Listesi Copy'
                },
                {
                    extend: 'csv',
                    text: '<i class="fa-solid fa-file-csv"></i>',
                    title: 'Cariler Listesi CSV' 
                },
                {
                    extend: 'excel',
                    text: '<i class="fa-solid fa-file-excel"></i>',
                    title: 'Cariler Listesi Excel'
                },
                {
                    extend: 'pdf',
                    text: '<i class="fa-solid fa-file-pdf"></i>',
                    title: 'Cariler Listesi PDF'
                },
                {
                    extend: 'print',
                    text: '<i class="fa-solid fa-print"></i>',
                    title: 'Cariler Listesi Yazdır'
                },
                //{
                //    text:'<a style="color:black;" href="#" data-target="#modal1" data-toggle="modal" ><i class="fa-solid fa-user-plus"></i></a>'
                //}
            ],
            columnDefs: [
                {
                    target: 0,
                    visible: false,
                    searchable:false
                },
                {
                    target: 6,
                    orderable:false
                }

            ],
            bFilter: false,
            stateSave: true,
            processing: true,

        });
    </script>


    <script>
        $(document).ready(function ()
        {


            $("#ekle").click(function (event) {
                event.preventDefault();
                var ADSOYAD = $("#ADSOYAD").val();
                var MAIL = $("#MAIL").val();
                var VERGINO = $("#VERGINO").val();

                var url = "@Url.Content("~/Cariler/Ekle")";
                var data = { ADSOYAD, MAIL, VERGINO };

                if (ADSOYAD != "" && MAIL != "" && VERGINO != "") {
                    AjaxPost(url, data);
                }
                else {
                    swal("Hata!", "Kişi eklenirken bir hata oluştu!", "error");
                }




            });
        });

            function AjaxPost(url, data) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        data: data,
                        success: function (data) {
                            if (data.status)
                            {
                                swal("Başarılı!", "Kişi başarıyla eklendi!", "success").then((result) => {
                                    if (result) {
                                        setTimeout(function () {
                                            window.location.href = "/Cariler/Index";
                                        }, 500);
                                    }
                                });
                            }
                            else {
                                swal("Hata!", "Kişi eklenirken bir hata oluştu!", "error");
                            }
                        },
                        error: function (error) {
                            swal("Hata!", "Kişi eklenirken bir hata oluştu!", "error");
                            console.log(error.statusText);
                        }
                    });
            };

    </script>

    <script>
        //Modal sürekli ilk baştaki kayit kodunu aldığı için this kullandık
        $(document).ready(function () {

            $(document).on('click', '#modalSil', function () {
                var kayitKodu = $(this).data('kayitkodu');
                //kayitkodu null dödüğü için aşağıdaki kodu kullandık
                $('#sil').data('kayitkodu', kayitKodu);
            });


            $('#sil').on('click', function () {

                var kayitKodu = $(this).data('kayitkodu');
                modalSil(kayitKodu);
            });
        });


        function modalSil(kayitKodu) {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Cariler/Sil")',
                data: { kayitKodu: kayitKodu },
                success: function (result) {
                    if (result.status) {
                        swal("Başarılı!", "Kişi başarıyla silindi!", "success").then((resultt) => {
                            if (resultt) {
                                setTimeout(function () {
                                    window.location.href = "/Cariler/Index";
                                }, 500);
                            }
                        });
                    } else {
                        swal("Hata!", "Kişi silinirken bir hata oluştu!", "error");
                    }

                },
                error: function (error) {
                    console.log(error.statusText);
                    swal("Hata!", "Kişi silinirken bir hata oluştu!", "error");
                }
            });

            }


    </script>

    <script>
            function CariGetir(id) {
                $.ajax({
                    type: "GET",
                    url: "/Cariler/Guncelle?ID=" + id,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#ID").val(data.ID);
                        $("#ADSOYADG").val(data.ADSOYAD);
                        $("#MAILG").val(data.MAIL);
                        $("#VERGINOG").val(data.VERGINO);
                    }
                });
            }

    </script>

    <script>
        $(document).ready(function () {
            $("#guncelle").click(function (event) {
                event.preventDefault();

                var ID = $("#ID").val();
                var ADSOYAD = $("#ADSOYADG").val();
                var MAIL = $("#MAILG").val();
                var VERGINO = $("#VERGINOG").val();

                var url = "@Url.Content("~/Cariler/Guncelle")"
                var data = { ID, ADSOYAD, MAIL, VERGINO };

                if (ADSOYAD != "" && MAIL != "" && VERGINO != "" && ID != "") {
                    AjaxUpdate(url, data);
                }
                else {
                    swal("Hata!", "Kişi güncellenirken bir hata oluştu!", "error");
                }

            });
        });

        function AjaxUpdate(url, data)
        {
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: data,
                success: function (data) {
                    if (data.status) {
                        swal("Başarılı!", "Kişi başarıyla güncellendi!", "success").then((result) => {
                            if (result) {
                                setTimeout(function () {
                                    window.location.href = "/Cariler/Index";
                                }, 500);
                            }
                            else {
                                swal("Hata!", "Kişi güncellenirken bir hata oluştu!", "error");
                            }
                        });
                    }
                },
                error: function (error) {
                    swal("Hata!", "Kişi güncellenirken bir hata oluştu!", "error");
                    console.log(error.statusText);
                }
            });
        }
    </script>

}